{
  "env": {
    "jest": true
  },
  "extends": "airbnb",
  "plugins": ["jest", "react", "jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/prefer-default-export": 0
  }
}
