.rate {
  float: left;
  height: 46px;
  padding: 7px 10px;
  input:checked + label:hover,
  input:checked + label:hover ~ label,
  input:checked ~ label:hover,
  input:checked ~ label:hover ~ label,
  label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}
.rate:not(:checked) {
  input {
    position: absolute;
    top: -9999px;
  }
  label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
  }
  label:before {
    content: '★ ';
  }
  input:checked ~ label {
    color: #ffc700;
  }
  label:hover,
  label:hover ~ label {
    color: #deb217;
  }
}
