.toast {
  display: flex;
  align-items: center;
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 50px;
  font-size: 17px;
  white-space: nowrap;
  padding: 0 10px;

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
      fadeout 0.5s 4s, keepout 2.5s 4s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
      fadeout 0.5s 4s, keepout 2.5s 4s;
    overflow: hidden;
    &.error {
      background-color: $red;
    }
    &.warning {
      background-color: $yellow;
    }
    &.success {
      background-color: $green;
    }
    &.hidden {
      opacity: 0;
    }
  }
  .icon {
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    i {
      width: 28px;
    }
  }
  .description {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
  }
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    bottom: 50px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 50px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 50px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes keepout {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: -200px;
    opacity: 0;
  }
}

@keyframes keepout {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: -200px;
    opacity: 0;
  }
}
