.article-card {
  height: 20vh;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  margin: 30px 0;
}

.article-card__image {
  background-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.article-card__content {
  display: flex;
  flex: 7;
  padding: 5px 0 5px 10px;
  flex-direction: column;
}
.article-card__content-title {
  margin: 0;
  cursor: pointer;
}
.article-card__content-text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin: 5px 0;
  font-family: Roboto-Light;
  line-height: 1.5em;
  height: 3em;
  width: 100%;
}
.article-card__content-meta {
  display: flex;
  height: 20px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.article-card__content-meta span {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .article-card {
    max-height: 100px;
  }
}
