@import '../base/variables';

.articles-filter {
  font-size: 18px;
  margin: 20px 0 40px 0;
}

.articles-filter label {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.filter-by {
  display: inline-block;
  width: auto;
  visibility: hidden;
  margin-bottom: 10px;
}
.filter-by:checked + label,
.filter-by:hover + label {
  color: $primary;
}
