.article-view-title {
  font-size: 2rem;
  text-align: center;
  padding: 0 15px;
}

.article-image {
  width: 100%;
  height: 35vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  background-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.3),
      #74a2e6
    );
    opacity: 0.6;
  }
}

.article-image img {
  height: 40px;
  margin-bottom: 5px;
}

.article-image span {
  font-size: 1rem;
}

.article-content {
  text-align: justify;
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}

.article-date {
  margin: 20px 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}

.article-side-actions {
  position: fixed;
  right: 3vw;
  height: 650px;
  top: 40vh;
  margin-left: 15px;
  width: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  .article-icon-right {
    font-size: 1.3rem;
    white-space: nowrap;
    cursor: pointer;
    i {
      color: #717171;
    }
    &.rated {
      color: #e2c14a;
      a,
      i {
        color: #e2c14a;
      }
    }
    &.margin-top {
      margin-top: 1.5rem;
    }
  }
  button {
    background-color: transparent;
  }
}

.view-favorites {
  display: flex;
  flex-direction: column;
}

.view-stars {
  display: flex;
}

.star-1 {
  font-size: 1.5rem;
}

.star-2 {
  font-size: 1.5rem;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rating-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
  }
}

.article-share {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding-right: 20px;
  button {
    background-color: transparent;
    font-size: 1rem;
    i {
      color: #717171;
    }
  }
}

.tagged {
  cursor: pointer;
  display: block;
  float: left;
  border-radius: 5px;
  color: grey;
  font-size: 1rem;
  background: #e8eaf6;
  padding: 5px 10px;
  margin: 4px;
  font-family: 'Roboto-Light';
}

.tagged:hover {
  color: #e8eaf6;
  background: grey;
}

@media screen and (max-width: $tablet-width) {
  .article-side-actions {
    position: static;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: auto;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    margin: 0;
    span {
      white-space: nowrap;
      margin-right: 30px;
      margin-top: 20px;
    }
    .article-icon-right {
      margin-top: 0;
    }
    * {
      margin-right: 10px;
      display: inline-flex;
      align-items: center;
      i {
        display: flex;
      }
    }
    button:nth-child(4) {
      margin-top: -2px;
      margin-right: 10px;
    }
    button:nth-child(5) {
      margin-top: -4px;
    }
  }
}

#modal-report:target {
  display: flex;
}
.comment-textarea {
  border-radius: 15px;
  padding: 10px 0px 10px 10px;
  font-family: Roboto-light;
  resize: none;
  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 2px;
  }
}
.new {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.comment-button {
  float: right;
}
<<<<<<< HEAD

=======
>>>>>>> feat(like/dislike comment): add like and dislike icons
.article-comment {
  .comment-box {
    margin-top: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    border: 1px solid #d8dee2;
    .control-btn {
      float: right;
    }
    .comment-time {
      padding-top: 5px;
      font-size: 12px;
      color: $input-border-color;
    }
    .author-name {
      float: left;
      font-weight: bold;
      .profile-avatar {
        width: 40px;
        margin-right: 5px;
        height: 35px;
        @media screen and (max-width: $tablet-width) {
          height: 35px;
        }
      }
      margin-bottom: 10px;
    }
    .comment-header {
      display: inline-block;
      width: 100%;
    }
    .box {
      padding: 5px;
      margin: 5px 0px;
      border-radius: 0px;
    }
  }
  .article-comment__center {
    margin: auto;
    width: 60%;
    font-family: Roboto-light;
    @media screen and (max-width: $tablet-width) {
      width: 90%;
    }
  }
}
.my-comment-update {
  cursor: pointer;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  width: auto;
  min-width: auto;
  text-align: right;
  &:hover {
    color: $primary;
  }
}
.tooltip {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 6px;
  position: absolute;
  margin-top: -30px;
  .higlight-btn {
    background-color: black;
  }
  button {
    background-color: black;
    padding: 0;
    i {
      color: white;
      font-size: 25px;
    }
  }
}
.hightlightedText {
  background-color: yellow;
  line-height: 1.5rem;
  .comment-trigger {
    position: absolute;
    right: 0;
    padding-right: 30px;
  }
}
.comment-wrapper {
  width: 50%;
  position: absolute;
  border-radius: 15px;
  padding: 10px 0px 10px 10px;
  font-family: Roboto-light;
  resize: none;
  &:focus {
    outline: none;
    border-color: $primary;
    border-width: 2px;
  }
}

.comment-user-action {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

<<<<<<< HEAD
=======
.comment-user-action {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

>>>>>>> feat(like/dislike comment): add like and dislike icons
.comment-action {
  padding-left: 2px;
  padding-right: 5px;
  size: 2rem;
  height: 100%;
  &:hover {
    color: $primary;
  }
}

.comment-user-action i {
  font-size: 15px;
}
<<<<<<< HEAD

=======
>>>>>>> feat(like/dislike comment): add like and dislike icons
.comment-action-count {
  margin-right: 20px;
  &:hover {
    color: $primary;
    cursor: pointer;
<<<<<<< HEAD
    .comment-likers {
      display: block;
      text-align: center;
    }
  }
}

.comment-likers {
  display: none;
  position: absolute;
  max-height: 100px;
  width: 200px;
  background-color: white;
  border: 1px;
  margin-bottom: -115px;
  overflow: scroll;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.comment-likers-data {
  font-family: Roboto-light;
  display: flex;
  flex-direction: row;
  height: 40%;
  align-content: center;
  &:hover {
    background-color: lightgray;
  }
  img {
    width: 40px;
    margin: 5px 5px 5px 5px;
    height: 40px;
  }
  span {
    margin-top: 14px;
=======
>>>>>>> feat(like/dislike comment): add like and dislike icons
  }
}
.comment-likers {
  display: none;
  position: absolute;
  max-height: 100px;
  width: 200px;
  background-color: white;
  border: 1px;
  margin-bottom: -115px;
  overflow: scroll;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.comment-action-count:hover .comment-likers {
  display: block;
  text-align: center;
}

.comment-likers-data {
  font-family: Roboto-light;
  display: flex;
  flex-direction: row;
  height: 40%;
  align-content: center;
  &:hover {
    background-color: lightgray;
  }
  img {
    width: 40px;
    margin: 5px 5px 5px 5px;
    height: 40px;
  }
  span {
    margin-top: 14px;
  }
}
