html {
  scroll-behavior: smooth;
}
@keyframes articleSlide {
  0% {
    left: 100%;
  }
  10% {
    left: 100%;
  }
  10% {
    left: 0%;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  40% {
    left: -100%;
  }
  45% {
    left: -200%;
  }
  60% {
    left: -200%;
  }
  65% {
    left: -300%;
  }
  80% {
    left: -300%;
  }
  85% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

.slide-container {
  width: 70%;
  margin: auto;
}
.slide-block {
  div {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    min-height: 300px;
    height: 60vh;
    padding: 15px;
    color: #fff;
    h1 {
      font-size: 2rem;
    }
    span {
      margin: 10px 0;
      font-size: 1.3rem;
      i {
        margin-left: 5px;
      }
    }
  }
}
.centered {
  position: relative;
}
p {
  text-align: left;
}
.main-article-container {
  width: 100%;
}
.article-container {
  background: white;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.home-article-card {
  width: 100%;
  margin-top: 20px;
}
.main-article-container img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.home-article-text {
  width: 60%;
  height: 138px;
  padding-left: 10px;
  overflow: hidden;
  height: 100%;
}
.home-article-title {
  font-size: 1.2rem;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  margin-bottom: auto;
}
.home-article-content {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  height: 3em;
  font-size: 1rem;
  color: #000000;
  white-space: wrap;
  overflow: hidden;
}
.article-thumbnail {
  position: relative;
  padding-right: auto;
  margin-top: auto;
  padding-top: 10px;
  font-family: Roboto-Light;
  font-size: 0.8rem;
  font-style: normal;
}
.article-time {
  padding-right: 20px;
}
.article-views {
  padding-right: 20px;
}
.home-article-image {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
    margin: auto;
  }
  .home-article-title {
    font-size: 1rem;
  }
  .home-article-content {
    font-size: 0.8rem;
  }
  .article-thumbnail {
    position: relative;
    padding-right: auto;
    padding-top: 10px;
    font-size: 0.7rem;
    font-style: normal;
  }
  .article-time {
    padding-right: 5px;
  }
  .article-views {
    padding-right: 5px;
  }
  i {
    padding-right: 0px;
  }
  .slides {
    min-height: 30vh;
    display: flex;
    width: 500%;
    animation: 20s articleSlide infinite;
    -webkit-animation: 20s articleSlide infinite;
    position: relative;
    text-align: left;
    overflow: hidden;
  }
  .home-article-card {
    width: 100%;
    margin-top: 10px;
  }
}
