@import 'variables';

.go-top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: $primary;
  bottom: 40px;
  right: 30px;
  border-radius: 50%;
  display: inline-block;

  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
.go-top-btn:hover {
  background-color: $primary-dark;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  &.dark {
    background-color: rgba(0, 0, 0, 0.8);
  }
  &.active {
    display: flex;
  }
  .modal__wrap {
    padding: 10px;
    min-width: 400px;
    min-height: 100px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    .modal__title {
      font-size: 1.3rem;
      text-align: center;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .modal__content {
      font-size: 1rem;
    }
    .modal__actions {
      font-size: 1.3rem;
      display: flex;
      margin-top: 1rem;
      .button {
        flex: 1;
        margin: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0.8rem;
      }
    }
  }
}

.user-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0.5rem;
}
