@import 'variables';

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.title-1 {
  font-size: 1.8rem;
}

.title-2 {
  font-size: 1.5rem;
}

.title-3 {
  font-size: 1.2rem;
}

.hover-primary:hover {
  color: $primary;
}

.underlined {
  text-decoration: underline;
}

.hover-primary {
  &:hover {
    color: $primary;
  }
}
