$primary: #3f51b5;
$primary-light: #e8eaf6;
$primary-dark: #1a237e;
$red: #e74c3c;
$green: #2ecc71;
$yellow: #f1c40f;
$gray: rgba(
  $color: #000000,
  $alpha: 0.3
);
$tablet-width: 768px;
$phone-width: 375px;
$input-border-color: #c4c4c4;
